{{#if viewing}}
<img src="{{link}}" alt="{{description}}" class="details-img">
<p class="details-author-link"><b>{{author}} - <a href="{{link}}">{{link}}</a></b></p>
<p class="details-desc">{{description}}</p>
{{/if}}

{{#if editing}}
<form action="/gallery/{{id}}?_method=PUT" method="POST">
	<table>
		<input type="hidden" name="id" value="{{id}}">
		<tr>
			<td class="label">Author</td>
			<td><input type="text" name="author" value="{{author}}"></td>
		</tr>
		<tr>
			<td class="label">Link</td>
			<td><input type="text" name="link" value="{{link}}"></td>
		</tr>
		<tr>
			<td class="label">Description</td>
			<td><textarea class="desc" name="description">{{description}}</textarea></td>
		</tr>
	</table>
</form>
{{/if}}

{{#if creating}}
<form action="/projects/express-gallery/gallery" method="POST">
	<table>
		<tr>
			<td class="label">Author</td>
			<td><input type="text" name="author"></td>
		</tr>
		<tr>
			<td class="label">Link</td>
			<td><input type="text" name="link"></td>
		</tr>
		<tr>
			<td class="label">Description</td>
			<td><textarea class="desc" type="text" name="description"></textarea></td>
		</tr>
	</table>
</form>
{{/if}}
